<div class="container">
    <h1>Login</h1>
    <form [formGroup]="formAuth" (ngSubmit)="iniciarSesion()">
        <div class="form-control">
            <label>Correo</label>
            <input type="text" formControlName="email">
        </div>
        <div class="form-control">
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>
        <div class="form-control">
            <button type="submit" class="btn-login">Login</button>
            <p *ngIf="loginError" class="error-msg">*Credenciales incorrectas*</p>
        </div>
        <div class="form-control">
            <a routerLink="/registrar">Registrar</a>
        </div>
    </form>
</div>